/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins';
  background: #0b0b0b;
}

@layer utilities {
  .animate-scroll {
    display: inline-block;
    animation: scroll 60s linear infinite;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

.scroll-reveal {
  margin: 20px 0;
}

.scroll-reveal-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.word {
  display: inline-block;
}

#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #00ffff44;
  border-radius: 9999px;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease, background 0.2s ease, border 0.2s ease;
  mix-blend-mode: difference;
}

#custom-cursor.active {
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #ffffff66;
}
